body{
    font-family: Georgia, "Times New Roman", Times, serif;
    position:relative;
}
nav{
    
    background-color: black;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: -25px;
}
.navbar a{

    text-decoration: none;
    color: white;
}
.navbar2{
    background-image: url('./img/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    font: size 20px;
}
.navbar2 li{
    list-style: none;
}
.navbar2 a{
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;

    text-decoration: none;
    color: white;
}
.navbar2 li a{
    list-style: none;
    margin-right: 15px;
    color: white;
    font-size: 19px;
}
.navbar2 li a:hover{   
    background-color: black;
    padding: 15px;
}
.bannerheading{
    margin-top: -350px;
    margin-left: 100px;
    font-size: 12px;
    font-weight: bold;
}


.bannerheading h2{
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}
.bannerheading p{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.btn{
    gap: 100PX;
}
.btn:hover{
    background: transparent;
    color: white;
}
.section3{
    display: flex;
    justify-content: space-between;
}
.section3 img{
    margin: 140px 30px;

}
.section3 h1{
    width: 131%;
    margin-top: 138px;
    font-size: 34px;
    font-weight: bold;
    color: black;
}
.section3 p{

    font-size: 20px;
    width: 207%;
    color: black;
    margin-top: 191px;
    margin-left: -331px;

}
.section3 button{
    margin-left: -40px;
    margin-top: 5px;
}

.section3 button:hover{
    background: transparent;
    color: black;
}
.section4{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 25px;
}
.card{
    margin: 4% 2% 2% 7%;
    margin-top: 50px;
}
.card h3{
    font-size: 30px;
    font-weight: bold;
    margin-left: 61px;
}
.card p{
    margin: 10px;
    justify-content:space-around;
}
.card img{
    margin: 51px;
    height: 100%;
    justify-content: center;
    margin-bottom: 18px;
    width: 80%;
    border-radius: 50%;
}
.card button{
    margin-left: 90px;
    margin-bottom: 10px;
    width: 50%;
}
.card button:hover{
    background: transparent;
    color: black;
}
.section6{
    margin-top: 50px;
    background-image: url('./img/4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 65vh;
    color: white;
}

.section6 .container{
    margin: 5%;
    width: 74%;
    margin-left: 217px;

}
.section6 button{
    margin-left: 422px;
    margin-top: 55px;
    margin-bottom: 10px;
    width: 20%;
}
.container{
    margin-top: 100px;
}
.card{
    display: flex;
    justify-content: space-between;

}
.section7{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-right: 65px;
}
.card{
    margin: 5% 1% 6% 3%;
    margin-top: 50px;;
}
.card h3{
    font-size: 30px;
    font-weight: bold;
    margin-left: 61px;
}
.card h6{
    text-align: center;
}
.section7 .card img{
    border-radius: 0%;
    height: 100%;
    width: 80%;
    margin-left: 27px;
   
}

.section7 button{
    border-radius: none;
    margin-left: 422px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 20%;
}    
    .footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    .footer .row2{
        text-align: center;
    }
    .footer .row a{
        display: block;
        margin: 0px 10px;
        text-decoration: none;
        color: gray;
        transition: 0.5s;
        text-decoration:none;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
        display:inline-block;
        margin:0px 10px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }